<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de productos</title>
    <link rel="stylesheet" href="../../assets/css/style2.css">
</head>
<body>

    <div class="formulario-container">
        <form id="form-productos" action="/backend/productos.php" method="post">
            <label for="prodID">ID del producto:</label>
            <input type="number" id="prodID" name="prodID" required>
            <span class="mensaje-error" id="error-prodID"></span>   

            <label for="prodName">Nombre del producto</label>
            <input type="text" name="prodName" id="prodName" required>
            <span class="mensaje-error" id="error-prodName"></span>  
            
            <label for="prodImage">Imagen del producto</label>
            <input type="file" name="prodImage" id="prodImage" required>
            <span class="mensaje-error" id="error-prodImage"></span>  

            <label for="prodDesc">Descripcion del producto</label>
            <input type="prodDesc" name="prodDesc" id="prodDesc" required>
            <span class="mensaje-error" id="error-prodDesc"></span>  

            <label for="prodPrice">Precio del producto</label>
            <input type="number" name="prodPrice" id="prodPrice" required>
            <span class="mensaje-error" id="error-prodPrice"></span>  

            <label for="prodCat">Categoria del producto</label>
            <input type="number" name="prodCat" id="prodCat" required>
            <span class="mensaje-error" id="error-prodCat"></span> 
            
            <div class="buttons">
                <button type="submit">Guardar</button>
                <button type="button" onclick="location.href='/'";>Cancelar</button>
            </div>

            <p class="footer-text">Angel Zamorano</p>
        </form>
    
    </div>
    
</body>
</html>